<!DOCTYPE html>
<meta charset="UTF-8">
<title>Tworzenie postaci</title>
{% if error %}
{{ error }}
{% endif %}
<form action="/register/" method="post">
{% csrf_token %}
Nazwa postaci: <input type="text" name="name" value="{{ name }}"><br>
Hasło: <input type="password" name="pass"><br>
Powtórz hasło: <input type="password" name="pass2"><br>
<input type="radio" name="gender" value="male" checked="checked">Mężczyzna<br>
<input type="radio" name="gender" value="female">Kobieta<br>
<input type="submit">
</form>